body { background-color: white; text-color: black }
h1 h2 h3 { font-family: Arial }
h1 { font-size: 150%; font-family: sans-serif; color: black}
h2 { font-size: 140%; color: rgb(0%, 0%, 50%) }
h3 { font-size: 130%; font-style: italic; color: rgb(0%, 0%, 75%) }
h4 { font-size: 120%; color: purple }
em { font-weight: bold }
.button   { font-family: Arial; font-style: bold; color: blue }
.note     { font-style: italic; color: green }
.subtitle { font-family: sans-serif; text-align: center; font-size: 120% }
.attop    { vertical-align: top; text-align: justify }
.prompt   { font-weight: bold; color: blue }
.response { font-weight: bold; color: black }


